[submodule "services/OnlineVideoDepthAnything"]
	path = services/OnlineVideoDepthAnything
	url = git@github.com:furrrow/OnlineVideoDepthAnything.git
[submodule "services/MoGe"]
	path = services/MoGe
	url = git@github.com:furrrow/MoGe.git
	branch = custom
